#  <-- tasks file can include smaller files if warranted

- name: set locale
  shell: localectl set-locale LANG=ja_JP.utf8
  when: ansible_env.LANG | default('') != 'ja_JP.utf8'

- name: set timezone to Asia/Tokyo
  timezone:
    name: Asia/Tokyo

- name: set proxy.sh
  template:
    force: yes
    src: proxy.sh
    dest: /etc/profile.d/proxy.sh
    owner: root
    group: root
    mode: 0644
  register: proxy_file

- name: source proxy.sh
  shell: source /etc/profile.d/proxy.sh
  when:
  - proxy_file is changed

- name: set yum proxy
  lineinfile:
    dest: /etc/yum.conf
    state: present
    regexp: "^proxy=.*$"
    insertafter: EOF
    line: "proxy={{ http_proxy }}"

- name: yum update
  yum:
    name: '*'
    state: latest
    skip_broken: yes

- name: set rpm proxy host
  lineinfile:
    dest:  /etc/rpm/macros
    state: present
    regexp: "^#%_httpproxy*$"
    insertafter: EOF
    line: "%_httpproxy {{ proxy_host }}"

- name: set rpm proxy port
  lineinfile:
    dest:  /etc/rpm/macros
    state: present
    regexp: "^#%_httpport*$"
    insertafter: EOF
    line: "%_httpport {{ proxy_port }}"
